@charset "utf-8";

.loginForm {
    width: 460px;
    margin: 40px auto 0;
}
.loginTitle{
    text-align: center;
}
.loginType a{
    margin-left: 20%;
}
.loginInfo dt{
    margin: 20px 0 10px;
}
.loginInfo label{
    font-size: small;
}
.loginInfo dd{
    margin: 0;
}
.loginInfo dd input,
.loginLink button{
    height: 40px;
    width: 100%; 
}
.loginLink{
    padding: 0px;
    margin-top: 50px;
}
.loginLink li{
    list-style: none;
    margin-top: 10px;
    text-align: center;
}
.loginLink ul{
    padding: 0;
}
