@charset "utf-8";

.quizArea{
    display: flex;
    margin: 50px 0 0 30px;
}
.quizQuestion{
    margin-bottom: 100px;
}
.quizContent img{
    width: 600px;
}
.answerArea{
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#answer{
    margin-top: 445px;
}